@using MVC_Test.Models
@using MVC_Test.DB
@model LoginVM
@{
    ViewBag.Title = "Home Page";

    Klant gebruiker = (Klant)Session["klant"];
}


@if (gebruiker != null)
{
    <h3>Welkom, @gebruiker.Voornaam @gebruiker.Naam </h3>
    <br>
    <a href="~/verhuren/verhuren" class="btn btn-default">Ga naar verhuringen</a>

}
else
{ 

    <h3>Eerst aanmelden om te kunnen huren!</h3>
    <br>
    using (Html.BeginForm("Inloggen", "Home", FormMethod.Post))
    {
        @Html.LabelFor(m => m.Naam)
        @Html.ValidationMessageFor(m => m.Naam, " ")
        @Html.EditorFor(m => m.Naam)

        @Html.LabelFor(m => m.Postcode)
        @Html.ValidationMessageFor(m => m.Postcode, " ")
        @Html.EditorFor(m => m.Postcode)



        <input type="submit" value="Aanmelden" class="btn btn-default" />
        @Html.ValidationSummary("Er zijn validatiefouten:")
    }


}