@using MVC_Test.Models
@model WinkelWagenVM
@{
    ViewBag.Title = "Home Page";
    decimal som = 0;
}

<h2>Afrekenen:</h2>
<table class="table  table-striped">
    <thead>
        <tr>
            <th class="col-md-3">Titel</th>
            <th class="col-md-1">Prijs</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.lFilms)
        {
            som += item.Prijs;

            <tr>
                <td class="col-md-3">@item.Titel</td>
                <td class="col-md-1">@Html.DisplayFor(m => item.Prijs)</td>

            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th class="col-md-3 info">Totaal:</th>
            <th class="col-md-1 info">
                @string.Format("{0:€ #,##0.00}", som)
            </th>
        </tr>
    </tfoot>



</table>
wordt gefactureerd aan:<br />
@Model.klant.Voornaam @Model.klant.Naam <br />
@Model.klant.Straat_Nr <br />
@Model.klant.PostCode @Model.klant.Gemeente <br />


